.popup {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.popup_opened {
  display: flex;
}
.popup__close {
  border: none;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  background: url(../images/Close_Iconexix.svg) center no-repeat;
}

.popup__block {
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.popup__title {
  align-self: flex-start;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: 358px;
  margin: 34px auto 54px;
}
.popup__wrapper {
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  color: rgba(196, 196, 196, 1);
}

.popup__button {
  display: block;
  max-width: 358px;
  width: 100%;
  height: 50px;
  margin-top: 21px;
  margin-bottom: 36px;
  border-radius: 2px;
  background-color: black;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 660px) {
  .popup {
    max-width: 282px;
  }
  .popup__close {
    width: 26px;
    margin-bottom: 13px;
  }
  .popup__title {
    align-self: flex-start;
    color: black;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    max-width: 238px;
    margin-top: 25px;
    margin-bottom: 76px;
  }
  .popup__form {
    max-width: 238px;
  }
  .popup__input {
    margin-bottom: 30px;
  }

  .popup__submit {
    max-width: 238px;
    height: 46px;
    margin-top: 16px;
    margin-bottom: 25px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
  }
}
